<!DOCTYPE HTML>
<html lang="en" id="projects-page">

<body>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- JQuery UI -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

  <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- vars -->
  <script type="text/javascript">
    var materials = <%= @material_data.to_json.html_safe %>; //saved here
    var names = <%= @material_names.to_json.html_safe %>;
    var SAVE_URL = '/model';
    var curr_assembly = <%= @curr_assembly.to_json.html_safe %>;
    var curr_name = <%= @curr_name.to_json.html_safe %>;
  </script>

  <% javascript_include_tag "model" %>
  <% stylesheet_link_tag "model", media: "all" %>


</body>
</html>
