/* line 4, /home/ubuntu/workspace/app/assets/stylesheets/graph.scss */
div.graph {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 10, /home/ubuntu/workspace/app/assets/stylesheets/graph.scss */
.button {
  border: 0px;
  background-color: #A0FF4D;
  float: right;
  margin-right: 5px;
}
