<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<!-- 
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> 
		-->
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<!--
		
		<script src="https://d3js.org/d3-hierarchy.v1.min.js"></script>
		<script src="https://d3js.org/d3-shape.v1.min.js"></script>

		-->

		<script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>
		<link href="style.css" rel="stylesheet">

	</head>
	<body>
		<p>hello lca world</p>
		<div id="chart"></div>
		<br>
		<div id="chartManu"></div>
		<br>
		<div id="chartTransport"></div>
		<br>
		<div id="chartUse"></div>
		<br>
		<div id="chartDisposal"></div>
		<script type="text/javascript" src="script.js"></script>

	</body>
</html>