<div id="navigation-bar">
   <div id="navigation-container">
      <li style="display: block;"><h1 class="site__title">Focus LCA</h1></li>
      <ul>
         <%= render 'users/navigation_links' %>
      </ul>
   </div>
</div>
