<%# add navigation links to this file %>
<li class='nav-item'> <%= link_to 'Projects', root_path, method: 'GET', class: 'nav-link' %></li>
<li class='nav-item'> <%= link_to 'Profile', profile_path, method: 'GET', class: 'nav-link' %></li>
<li class='nav-item' style="float:right"> <%= link_to 'Logout', logout_path, method: 'GET', class: 'nav-link' %></li>
