
<div class="thin-font" id="Faludi">
   <span style="display: block;"><h1 class="site__title mega"><%= link_to 'Faludi', root_path, method: 'GET'%></h1></span>
</div>

<div id="navigation-bar">
   <div id="navigation-container">
      <ul>
         <%= render 'users/navigation_links' %>
      </ul>
   </div>
</div>
