

<div id="navigation_bar">
   <div id="navigation-container">
      <span style="display: block;"><h1 class="site__title mega">Faludi</h1></span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <%= render 'users/navigation_links' %>
      </ul>
   </div>
</div>
