
<div class="thin-font">
   <span style="display: block;"><h1 class="site__title mega">Faludi</h1></span>
</div>

<div id="navigation-bar">
   <div id="navigation-container">
      <ul>
         <%= render 'users/navigation_links' %>
      </ul>
   </div>
</div>
