
<span style="display: block;"><h1 class="site__title mega">Faludi</h1></span>

<div id="navigation_bar">
   <div id="navigation_container">
      <ul>
         <%= render 'users/navigation_links' %>
      </ul>
   </div>
</div>
