<%- if not flash[:ajax]%>
   <header class="site__header island">
     <div class="wrap">
      <span style="display: block;"><h1 class="site__title mega">Focus LCA</h1></span>
       <span class="beta subhead">The Ultimate LCA Application</span>
     </div>
   </header>
<% end %>

<div id="message_space"> </div>
<%= form_tag login_path, :method => :post do %>

   <!-- <label class="beta subhead"><b>Username</b></label> -->
   <input type="text" class="input" placeholder="Username" name="username" required>

   <!-- <label class="beta subhead"><b>Password</b></label> -->
   <input type="password" class="input" placeholder="Password" name="password" required>

   <button id="signup" class="butt" type="submit">Login</button>

<% end %>
