<!DOCTYPE html>

<body>
<header class="site__header island">
  <div class="wrap">
   <span style="display: block;"><h1 class="site__title mega">Focus LCA</h1></span>
   <span class="beta subhead">The Ultimate LCA Application</span>
  </div>
</header>

<main id= "animator" class="site__content island " role="content">

   <button id="login_button" class="butt js--triggerAnimation">Login</button>
   <button id="signup_button" class="butt js--triggerAnimation">Signup</button>

   <div id="loadcontent" >
   </div>

</main><!-- /.site__content -->


</body>
