/* global $, materials */

/*
Pretty hack-ey. document.ready doesn't seem to work here. This also causes problems loading custom css.
*/
$(window).load(function() {
	$('#material-search').autocomplete({
		data: materials
	});

	$('.dropdown-content').css({'position': 'absolute', 'width': '350px'});
});

function dragthing(event) {
	return $('<div class="drag-thing"> Hello, world! </div>')
}

$(document).ready(function() {
	$('.draggable').draggable({
		containment: 'window',
		appendTo: 'body',

		helper: function (event) {
			return $('<div></div>', {
				"class": "drag-thing",
				"text": event.currentTarget.innerText
			})
		},

		cursorAt: {
			top: 25,
			left: 50,
		}
	});

	$('#assembly').droppable({
		drop: function (event, ui) {
			console.log(ui)
			$('<li></li>', {
				"class": 'collection-item',
				"text": ui.draggable[0].innerText
			}).appendTo($('#build'));
		}
	});
});