/* global $, materials */

/*
Pretty hack-ey. document.ready doesn't seem to work here. This also causes problems loading custom css.
*/
$(window).load(function() {
	$('#material-search').autocomplete({
		data: materials
	});
});

function newElement(event) {
  var li = document.createElement("li");
  console.log(event);
  var inputValue = document.getElementById('dragger').innerText;
  li.appendChild(document.createTextNode(inputValue));
  if (inputValue === '') {
	 alert("You must write something!");
  } else {
	 document.getElementById("myUL").appendChild(li);
  }
  // document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  var baseElement = document.querySelector("div.my-materials");
  var close = baseElement.getElementsByClassName("close");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
	 close[i].onclick = function() {
		var div = this.parentElement;
		div.style.display = "none";
	 }
  }


}

function dragthing(event) {
	console.log('Drag Thing Called');
	newElement(event);
}

$(document).ready(function() {

	$('.draggable').draggable({
		containment: 'window',
		appendTo: 'body',
		helper: function (event) {
			return $('<div></div>', {
				"class": "drag-thing",
				"id": "dragger",
				"text": event.currentTarget.innerText
			})
		},

		stop: function(event, ui) {
			console.log('DRAGGING and Dropped')
			// console.log(ui["offset"]
			dragthing(event)
		},

		cursorAt: {
			top: 25,
			left: 50,
		}
	});
});
