/* global $, materials */

/*
Pretty hack-ey. document.ready doesn't seem to work here. This also causes problems loading custom css.
*/
$(window).load(function() {
	$('#material-search').autocomplete({
		data: materials
	});
});

function dragthing(event) {
	console.log('Drag Thing Called')
	$('#dragged-elements').text('');
	$('#dragged-elements').append(' <td><div class="w3-blue w3-hover-shadow w3-center">Steel</div> </td>')
}

$(document).ready(function() {

	$('.draggable').draggable({
		containment: 'window',
		appendTo: 'body',

		helper: function (event) {
			return $('<div></div>', {
				"class": "drag-thing",
				"text": event.currentTarget.innerText
			})
		},

		stop: function(event, ui) {
			console.log('DRAGGING and Dropped')
			console.log(ui["offset"])
			dragthing()
		},

		cursorAt: {
			top: 25,
			left: 50,
		}
	});
});
