// Place all the styles related to the Graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content {
    text-align: center;
}

div.graph {
    margin: 0 auto;
    text-align: center;
    width: 800px; 
    //width: 480px; 
    //height: 400px;
}

button {
    border: 0px;
    background-color: #FFFFFF;
    
}

.spacing {
    display:inline-block; 
    width: 10px;
}

h1 {
    display: inline-block;
}

.link {
    text-align: center;
    position: relative;
    z-index: 10;
    float: right;
}

.legend {
    width: 15px; 
    height: 15px; 
    margin:auto; 
    display: inline-block; 
    vertical-align: middle; 
    border: 1px solid #D3D3D3; 
    border-radius: 2px;
}

p {
    display: inline;
    padding: 0.6rem;
}

// Legend colors
#less-uncertainty { background: #e1bea8; }
#medium-uncertainty { background: #ff8080; }
#most-uncertainty { background: #ff3d3d; }

#material { background: #7099C5; }
#process { background: #BBD9D9; }
#transport { background: #FAC6B0; }
#use { background: #EEE52B; }
#eol { background: #784022; }