@import 'model_mixins';

html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#workspace {
    height: 100%;
    width: 100%;

    tr:first-child {
        height: 40px;
    }
    tr > :first-child {
        width: 350px;
    }

    td {
        padding: 0px;
        background-color: #ddd;
        text-align: center;
        border: solid black 1px;
    }

    .section-title {
        // margin: 0px;
    }
}

#library, #assembly {
    vertical-align: top;
}

#menu {
    width: 350px;
    background-color: #ddd;
    margin: 0;

    li:not(.active) > .collapsible-header i {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(-90deg);

        transition: 0.2s;
    }

    > li.active > .collapsible-body {
        max-height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-button,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-track-piece,
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-corner,
        &::-webkit-resizer {
            background: transparent;
        }

        &::-webkit-scrollbar {
            width:  7px;
            height: 7px;
            border-radius: 4px;
        }
        
        &::-webkit-scrollbar-track-piece {
            border-radius: 5px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #4f4f4f;
            border-radius: 5px;
        }
        
        &::-webkit-scrollbar-button {
            width:0;
            height:0;
        }
    }

    li .collapsible {
        margin: 0px;
        .collection {
            margin-left: 10px;
            .draggable:hover {
                cursor: move;
                background-color: #ddd;
            }
        }
    }
}

#material-search {
    background-color: white;
}

.dropdown-content {
    position: absolute;
    width: 100%;
}

.drag-thing {
    position: absolute;
    z-index: 999;

    display: flex;
    background-color: #99f;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;

    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#build {
    margin: 0px;

    .material-section {
        margin-bottom: 15px;
    }

    .material {
        height: 56px;
        background-color: white;

        padding: 10px;
        border-radius: 10px;
        border: solid black 1px;
        
        line-height: 36px;

        text-align: left;

    }

    .processes {
        margin: 0px;
        @include descending-z-index(100);

        .collection-item {
            height: 66px;
            padding-top: 20px;
            margin-top: -10px;

            border-radius: 0px 0px 10px 10px;
            border: solid black 1px;

            line-height: 36px;
        }
    }

    .delete-button {
        float: right;
        background-color: #b33;
        margin-left: 5px;
    }
}

#save {
    float: right;
    margin-right: 5px;
    background-color: #3b3;
}