/* The alert message box */
.alert2 {
    border-radius: 7px;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

select {
    border: 1px solid #111;
    background: 'white';
    width: 100px;
    margin: 5px 0px 15px 5px;
    padding: 5px 35px 5px 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    height: 25px;
    text-align-last: center;
}

.projects-page {
   @import 'model_mixins';
   #materials {
       font-size: 13px;
       
       li {
           
           line-height: 15px;
       }
       
       .collapsible-header, .material-icons {
           min-height: 1.5rem;
           line-height: 1.5rem;
       }
   }
   
   #workspace {
       height: 60vh;
       width: 100%;

       tr:first-child {
           height: 40px;
       }
       tr > :first-child {
           width: 350px;
       }

       td {
           padding: 0px;
         //   background-color: #ddd;
           text-align: center;
           border: none;
       }

       .section-title {
           // margin: 0px;
           border: none;
       }
   }

   #library, #assembly {
       vertical-align: top;
   }

   #menu {
      width: 350px;
      max-height: inherit;
      margin: 0;


       li:not(.active) > .collapsible-header i {
           -ms-transform: rotate(180deg);
           -webkit-transform: rotate(180deg);
           transform: rotate(-90deg);
           max-height: 150px;
           transition: 0.2s;
       }

       > li.active > .collapsible-body {
           max-height: 45vh;
           overflow-y: scroll;
           overflow-x: hidden;

           &::-webkit-scrollbar,
           &::-webkit-scrollbar-button,
           &::-webkit-scrollbar-track,
           &::-webkit-scrollbar-track-piece,
           &::-webkit-scrollbar-thumb,
           &::-webkit-scrollbar-corner,
           &::-webkit-resizer {
               background: transparent;
           }

           &::-webkit-scrollbar {
               width:  7px;
               height: 7px;
               border-radius: 4px;
           }

           &::-webkit-scrollbar-track-piece {
               border-radius: 5px;
           }

           &::-webkit-scrollbar-thumb {
               background: #4f4f4f;
               border-radius: 5px;
           }

           &::-webkit-scrollbar-button {
               width:0;
               height:0;
           }
       }

       li .collapsible {
           margin: 0px;
           .collection {
               margin-left: 10px;
               .draggable:hover {
                   cursor: move;
                   background-color: #ddd;
               }
           }
       }
       
       
   }

   #material-search {
       background-color: white;
   }

   #manufacturing-search {
       background-color: white;
   }

   #transport-search {
       background-color: white;
   }

   .dropdown-content {
       position: absolute;
       width: 50%;
   }

   .drag-thing {
       position: absolute;
       z-index: 999;

       display: flex;
       background-color: #99f;

       padding-left: 20px;
       padding-right: 20px;
       padding-top: 10px;
       padding-bottom: 10px;

       align-items: center;
       justify-content: center;

       border-bottom-left-radius: 5px;
       border-bottom-right-radius: 5px;
   }


   #build {
       margin: 0px;
       font-family: verdana;

       .material-section {
           margin-bottom: 15px;
       }

       [class*='input-'] {
           width: 7%;
           font-weight: normal;
       }

       [class*='label'] {
           padding-left: 20px;
       }

       .material {
         font-weight: bold;
         font-size: 100%;
         border-radius: 5px; //rounding
         padding: 15px 0px 3px 0px; //inner space
         margin: 0px auto; //outer space
         background-color: #99d6ff;
         //line-height: 40px;
         //height: 60px;
         width: 900px;
       }

       .material:hover {
         background: #e6f5ff;
       }
       
        .subassembly {
         font-weight: bold;
         font-size: 100%;
         border-radius: 5px; //rounding
         padding: 15px 0px 5px 0px; //inner space
         margin: 0px; //outer space
         background-color: #66ffcc;
         //line-height: 40px;
         //background-image: url(../images/java.png);
         //background-repeat: no-repeat;
         //background-position: 2px 2px;
         height: 60px;
         padding-left:30px;
       }

       .subassembly:hover {
         background: #e6fff7;
       }

      .processes {
         margin: 0px;
         position: relative;
         font-size: 90%;
         //@include descending-z-index(100);
         .collection-item {
            position: relative;
            background: #ccebff;
            margin: 0px auto;
            padding: 10px 0px 10px 0px; //top right bottom left
            width: 800px;
            //right: -10px;
            height: 50px;
            border-radius: 5px;
            //line-height: 30px;
         }
         .collection-item:hover {
            background: #e6f5ff;
         }
         .subassembly-item {
            position: relative;
            background: #b3ffe6;
            margin: 0px auto;
            padding: 10px 0px 10px 0px; //top right bottom left
            //width: 900px;
            // right: -10px;
            height: 80px;
            border-radius: 5px;//rounding
            //line-height: 30px;
         }
        .subassembly-item:hover {
            background: #e6fff7;
         }
      }

      [class*='close-'] {
         // top: 0;
         font-size: 80%;
         border-radius: 7px;
         // position: absolute;
         float:right;
         // display: inline-block;
      }

      [class*='close-']:hover {
          background-color: #f44336;
          color: white;
      }

      .close-material {
         padding: 12px 8px 12px 11px;
         margin: 2px;
      }

      .close-process {
         border-radius: 100px;
         padding: 3px 2px 3px 3px;
         //margin: 2px;
      }
      
      .close-folder {
         font-size: 110%;
         padding: 5px 100px 50px 10px; //top right bottom left
         margin: 2px;
      }

   }

   .butt {
       border: 0px;
       background-color: #595959;
       float: right;
       margin-right: 15px;
   }

   #assembly-title {
        height:1em;
        font-size:2em;
        text-align:center;
        max-width:400px;
        padding: .5em 0px 0px 0px;
   }

  
}
