<%# Rails flash messages styled for Bootstrap 4.0 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert2">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= msg %>
    </div>
  <% end %>
<% end %>
